<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>signin</h1>
    <form action="/signin" method="post">
        {% csrf_token %}
        <div class="container">
            <label for="username">username</label>
            <input type="username" name="email" id="email" required>
        </div>
        <div class="container">
            <label for="Password1">Password</label>
            <input type="password" name="password1" id="password1" required>
        </div>
        <div class="container">
            <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>